<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css')}}">
    <title>Transaltion Service</title>
</head>
<body>
    <div class="container">
        <div class="title">
            <h1>Translation Service</h1>
        </div>
        <form action="/translate" method="POST">
            <textarea placeholder="Enter text" type="text" name="text"></textarea>
            <select name="language">
                <option value="en">English</option>
                <option value="fr">French</option>
                <option value="it">Italian</option>
                <option value="de">German</option>
                <option value="hi">Hindi</option>
                <option value="bn">Bengali</option>
                <option value="pa">Punjabi</option>
            </select>
            <button type="submit">Translate</button>
        </form>
    </div>
</body>
</html>